/* All of YOUR styles go here. They take effect after those in the normalize CSS file, but will overwrite anything that conflicts. */


#container {
    text-align: center;
}

p {
    margin-top: -30px;
    margin-bottom: 10px;
}

footer {
    font-size: 1em;
}